[logging]
remote_logging = True
remote_log_conn_id = elasticsearch_default


[elasticsearch]
# host = http://localhost:9200 #$CLICKHOUSE_USER:$CLICKHOUSE_PASSWORD "http://$CLICKHOUSE_HOST:$CLICKHOUSE_PORT"
# host = elastic:pass "http://localhost:9200" #$CLICKHOUSE_USER:$CLICKHOUSE_PASSWORD "http://$CLICKHOUSE_HOST:$CLICKHOUSE_PORT"
log_id_template = {dag_id}-{task_id}-{execution_date}-{try_numbesr}
end_of_log_mark = end_of_log
write_stdout = True
json_format = True
#json_fields = asctime, filename, lineno, levelname, message